.aboutscott-wrapper {
    padding: 100px 0px;
    position: relative;
  .scott-miller-content {
    h4 {
      color: #000;
      font-family: "Creato Display";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    h2 {
      color: #076350;
      font-family: "Fahkwang";
      font-size: 130px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    p {
      color: #000;
      font-family: "Creato Display";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 179.4%; /* 32.292px */
      &.highlight {
        color: #076350;
        font-family: "Creato Display";
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 179.4%; /* 32.292px */
      }
    }
    .scott-btn-wrapper {
        a {
          color: #076350;
          font-family: "Creato Display";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          transition: all 0.3s ease-in-out;
          position: relative;
          &::before {
            content: "";
            background: #076350;
            height: 2px;
            width: 0px;
            position: absolute;
            bottom: 15px;
            left: 0;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            padding-left: 40px;
            &::before {
              width: 35px;
            }
          }
        }
      }
  }
  &::after{
    content: "";
    background: url("../../assets/images/women-right-book.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
}

@media (max-width: 1400px) {
  .aboutscott-wrapper {
    padding: 50px 0px;
    .scott-miller-content {
      h4{
        font-size: 20px;
      }
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutscott-wrapper {
    padding: 50px 0px;
    .scott-miller-content {
      h4{
        font-size: 20px;
      }
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}